In [1]:
import numpy as np
import pandas as pd 
from keras.preprocessing import image
from keras.preprocessing.image import ImageDataGenerator
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import os

In [2]:
FAST_RUN = False
IMAGE_WIDTH=128
IMAGE_HEIGHT=128
IMAGE_SIZE=(IMAGE_WIDTH, IMAGE_HEIGHT)
IMAGE_CHANNELS=3

In [3]:
filenames = os.listdir("C:/Users/91809/Desktop/ARKS/05_ARKS_Early-Prediction-of-Autism-Disorder/AutismDataset/train")
categories = []
for filename in filenames:
    category = filename.split('.')[0]
    if category == 'Autistic':
        categories.append(1)
    else:
        categories.append(0)

df = pd.DataFrame({
    'filename': filenames,
    'category': categories
})

In [4]:
df.head()

            filename  category
0     Autistic.0.jpg         1
1     Autistic.1.jpg         1
2    Autistic.10.jpg         1
3   Autistic.100.jpg         1
4  Autistic.1000.jpg         1

In [6]:
df.tail()

                  filename  category
2535  Non_Autistic.995.jpg         0
2536  Non_Autistic.996.jpg         0
2537  Non_Autistic.997.jpg         0
2538  Non_Autistic.998.jpg         0
2539  Non_Autistic.999.jpg         0